<!DOCTYPE html>
<html>
<head>
    <title>Convert to Uppercase</title>
</head>
<body>


    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/works">Works</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <h1>area of circle</h1>

    <form action="/works/area/circle" method="post">
        <label for="radius">Enter a radius:</label>
        <input type="text" id="radius" name="radius">
        <input type="submit" value="Compute">
    </form>

    {% if result %}
    <p>Area of the circle: {{ result }}</p>
    {% endif %}
</body>
</html>
