<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/works">Works</a>
        <a href="/contact">Contact</a>
    </nav>
    <main>
        <h1>Profile</h1>
        <p><strong>Name:</strong> John Reimarc Sohitado</p>
        <p><strong>Course:</strong> Computer Engineering</p>
        <p><strong>Section:</strong> BSCpE 2-1</p>
        <p><strong>Subject:</strong> Data Structures and Algorithms</p>

        <h2>Favorite Motto</h2>
        <blockquote>
            "It never ceases to amaze me: we all love ourselves more than other people, but care more about their opinion than our own. -Marcus Aurelius"
        </blockquote>
    </main>
</body>
</html>