<!DOCTYPE html>
<html>
<head>
    <title>Convert to Uppercase</title>
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/profile">Profile</a>
        <a href="/works">Works</a>
        <a href="/contact">Contact</a>
    </nav>

    <h1>Convert String to Uppercase</h1>

    <form action="/works/touppercase" method="post">
        <label for="inputString">Enter a string:</label>
        <input type="text" id="inputString" name="inputString">
        <input type="submit" value="Convert">
    </form>
    {% if result %}
    <p>Converted string: {{ result }}</p>
    {% endif %}
</body>
</html>
