<!DOCTYPE html>
<html>
<head>
    <title>Convert to Uppercase</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/profile">Profile</a>
        <a href="/works">Works</a>
        <a href="/contact">Contact</a>
    </nav>

    <main>
        <h1>Convert String to Uppercase</h1>

        <form action="/works/touppercase" method="post">
            <label for="inputString">Enter a string:</label>
            <input type="text" id="inputString" name="inputString">
            <input type="submit" value="Convert">
        </form>
        {% if result %}
        <p class="result">Converted string: {{ result }}</p>
        {% endif %}
    </main>
</body>
</html>
