<!DOCTYPE html>
<html>
<head>
    <title>Works</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>

    <h1>Programming Works</h1>
    <p>Select an exercise below:</p>

    <ul>
        <li><a href="/works/touppercase">To Uppercase Converter</a></li>
        <li><a href="/works/area/circle">Area of a Circle</a></li>
        <li><a href="/works/area/triangle">Area of a Triangle</a></li>
        <li><a href="/works/linkedlist">Linked List UI</a></li>
    </ul>
</body>
</html>